<!-- Consultar la tabla -->
<div class="mb-3">
  <label for="filtroColumna" class="form-label">Filtrar por:</label>
  <div class="input-group">
    <select [(ngModel)]="filtroColumna" id="filtroColumna" class="form-select">
      <option value="id">ID</option>
      <option value="curso_id">ID Curso</option>
      <option value="profesor_id">ID Profesor</option>
    </select>
    <input [(ngModel)]="filtroValor"
      (keyup.enter)="filtrar()"
      class="form-control"
      placeholder="Ej: 1,2,3 o nombre de departamento" />
    <button class="btn btn-primary" (click)="filtrar()">Buscar</button>
    <button class="btn btn-secondary" (click)="verTodos()">Quitar filtro</button>
  </div>
</div>

<!-- Importar asignaturaes -->
<div *ngIf="rolUsuario === 'administrador'" class="mt-4">
  <form (submit)="importar()">
    <input type="file" (change)="onArchivoSeleccionado($event)" accept=".json" required>
    <button type="submit">Importar Asignaturas</button>
  </form>
  <br>
</div>

<!-- Tabla -->
<table>
  <thead>
    <tr>
      <th (click)="ordenarPor('id')">ID
        <span *ngIf="columnaOrden === 'id'">{{ ordenAscendente ? '▲' : '▼' }}</span></th>
      <th (click)="ordenarPor('nombre')">Nombre
        <span *ngIf="columnaOrden === 'nombre'">{{ ordenAscendente ? '▲' : '▼' }}</span></th>
      <th (click)="ordenarPor('curso_id')">ID Curso
        <span *ngIf="columnaOrden === 'curso_id'">{{ ordenAscendente ? '▲' : '▼' }}</span></th>
      <th (click)="ordenarPor('profesor_id')">ID Profesor
        <span *ngIf="columnaOrden === 'profesor_id'">{{ ordenAscendente ? '▲' : '▼' }}</span></th>
      <th (click)="ordenarPor('created_at')">Creado en
        <span *ngIf="columnaOrden === 'created_at'">{{ ordenAscendente ? '▲' : '▼' }}</span></th>
      <th (click)="ordenarPor('updated_at')">Actualizado en
        <span *ngIf="columnaOrden === 'updated_at'">{{ ordenAscendente ? '▲' : '▼' }}</span></th>
      <th *ngIf="rolUsuario === 'administrador'" colspan="2">
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let asignatura of asignaturas">
      <!-- ID -->
      <td>{{ asignatura.id }}</td>

      <!-- Nombre -->
      <td *ngIf="editandoId !== asignatura.id">{{ asignatura.nombre }}</td>
      <td *ngIf="editandoId === asignatura.id">
        <input [(ngModel)]="editando!.nombre" name="nombre" class="form-control form-control-sm" required />
      </td>

      <!-- Curso ID -->
      <td *ngIf="editandoId !== asignatura.id">
        {{ asignatura.curso ? '(' + asignatura.curso.id + ') ' + asignatura.curso.nombre : asignatura.curso_id }}
      </td>
      <td *ngIf="editandoId === asignatura.id">
        <input [(ngModel)]="editando!.curso_id" name="curso_id" class="form-control form-control-sm" required />
      </td>

      <!-- Profesor ID -->
      <td *ngIf="editandoId !== asignatura.id">
        {{ asignatura.profesor
            ? '(' + asignatura.profesor.id + ') ' + (asignatura.profesor.usuario?.nombre)
            : asignatura.profesor_id }}
      </td>
      <td *ngIf="editandoId === asignatura.id">
        <input [(ngModel)]="editando!.profesor_id" name="profesor_id" class="form-control form-control-sm" required />
      </td>

      <!-- Fechas -->
      <td>{{ asignatura.created_at | date: 'short' }}</td>
      <td>{{ asignatura.updated_at | date: 'short' }}</td>

      <!-- Editar -->
      <td *ngIf="rolUsuario === 'administrador'">
        <button *ngIf="editandoId !== asignatura.id" class="btn btn-sm btn-outline-secondary" (click)="editar(asignatura)">
          ✏️
        </button>
        <div *ngIf="editandoId === asignatura.id" class="d-flex gap-1">
          <button class="btn btn-sm btn-success" (click)="guardarCambiosFila()">💾</button>
          <button class="btn btn-sm btn-danger" (click)="cancelarEdicionFila()">❌</button>
        </div>
      </td>
      <!-- Borrar -->
      <td *ngIf="rolUsuario === 'administrador'">
        <button class="btn btn-sm btn-outline-secondary" (click)="eliminar(asignatura.id)">
          🗑️
        </button>
      </td>
    </tr>
  </tbody>
</table>
